.body {
    /* font-family: 'Pattaya', sans-serif; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 10px;
    /* background-color: #566573; */
}
#android{
height: 400px;
}
.projects{
padding-top:20px;
}

ul.nav.navbar-nav {
    display: -webkit-box;
    list-style-type: none;
}

ul.nav.navbar-nav li {
    padding: 10px;
    display:inline;

}


.form-group{
    margin-bottom: 15px;
    max-width: 500px;
}
#dev{
max-height:300px;
/* align:left; */
}
#ondicho{
/* background-align:center; */
padding-top:20px;
  text-align: center;
  margin: auto;
  height: 100vh;
}
h1{
    text-align: left;
}

img.card-img-top {
    max-height: 119px;
}
#specialisation{
padding-top:20px
}
.bg-image{
  background-repeat:no-repeat;
  background-size: cover;
 }
 #col{
 column-rule-style: dotted;
 }
 navbar navbar-fixed-top navbar-slide-nav{
     background-color: #013240;
 }

 .card{
     border-radius: 10px;
     background: #ffffff;
     box-shadow: inset 5px 5px 10px #b5b5b5, 
                 inset -5px -5px 10px #ffffff;
 }
