.body {
    /* font-family: 'Pattaya', sans-serif; */
    font-size: 14px;
    /* line-height: 1.42857143;
    color: #333; */
    /* margin: 10px; */
    /* background-color: #566573; */
}
#android{
height: 400px;
}
.projects{
padding-top:20px;
}

ul.nav.navbar-nav {
    display: -webkit-box;
    list-style-type: none;
}

ul.nav.navbar-nav li {
    padding: 10px;
    display:inline;

}


.form-group{
    margin-bottom: 15px;
    max-width: 500px;
}
#dev{
max-height:300px;
/* align:left; */
}
#intro{
    height: 100vh;
    background-color:#cacfd2;
}
#ondicho{
/* background-align:center; */
padding-top:20px;
  text-align: center;
  margin: auto;
  height: 100vh;
  background-color:#f0f3f4 ;
  color: #2982a2;

}
/* #ondicho h1{
    margin: 40px;
} */
/* h1{
    text-align: left;
} */

img.card-img-top {
    max-height: 119px;
}
#specialisation{
padding-top:20px
}
.bg-image{
  background-repeat:no-repeat;
  background-size: cover;
 }
 #col{
 column-rule-style: dotted;
 }
 .navbar{
    margin-bottom: 0!important;
 }

 .card{
     border-radius: 10px;
     background: #ffffff;
     box-shadow: inset 5px 5px 10px #b5b5b5, 
                 inset -5px -5px 10px #ffffff;
 }

 .color-1 {color: #f0f3f4;}
.color-2 {color: #cacfd2;}
.color-3 {color: #99a3a4;}
.color-4 {color: #00CCCC;}
.color-5 {color: #95a5a6;}
.color-6 {color: #2982a2;}
